
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;;

// Colors
$red: #f44336;

// Items
$background-item-1: #f9f9f9;
$background-item-2: #eee;

//** variables for input
$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #d9d9d9;
$button-text-color: #555;
